[master]
jobs=4

[basic]
good-names=
    ex,_,w,h,i,j,x,y,x1,x2,y1,y2,
    classproperty,
    headerData,
    columnCount,
    rowCount,
    keyPressEvent,
    mousePressEvent,
    mouseMoveEvent,
    mouseReleaseEvent,
    resizeEvent,
    paintEvent,
    wheelEvent,
    changeEvent,
    closeEvent,
    highlightBlock,
    keyboardSearch,
    setData,
    initializeGL,
    paintGL,
    sizeHint

[variables]
dummy-variables-rgx=^_

[format]
max-line-length=79

[messages control]
reports=no
disable=
    # this is not java
    missing-docstring,

    # I'm not a baby
    duplicate-code,
    too-many-return-statements,
    too-many-arguments,
    too-many-locals,
    too-many-instance-attributes,
    too-many-public-methods,

    # conflicts with black
    bad-continuation,

    # plain stupid
    no-self-use,
    too-few-public-methods

[typecheck]
ignored-modules=
    PyQt5.QtGui,
    PyQt5.QtCore,
    PyQt5.QtWidgets,
    numpy

extension-pkg-whitelist=mpv,PyQt5.QtOpenGL

[miscellaneous]
notes=FIXME,TODO
