[tool.black]
line-length = 79

[tool.isort]
known_third_party = ["PIL", "PyQt5", "ass_tag_parser", "dataclasses", "docstring_parser", "enchant", "ffms2", "lazy_import", "mock", "mpv", "numpy", "parsimonious", "pluginbase", "pyqtcolordialog", "pytest", "quamash", "regex", "setuptools", "sortedcontainers", "speech_recognition", "spellchecker", "yaml"]
multi_line_output = 3
include_trailing_comma = true
