$COLOR_BACKGROUND_LIGHT: #505050;
$COLOR_BACKGROUND_NORMAL: #323232;
$COLOR_BACKGROUND_DARK: #191919;
$COLOR_FOREGROUND_LIGHT: #F0F0F0;
$COLOR_FOREGROUND_NORMAL: #AAAAAA;
$COLOR_FOREGROUND_DARK: #787878;
$COLOR_SELECTION_LIGHT: #148CD2;
$COLOR_SELECTION_NORMAL: #1464A0;
$COLOR_SELECTION_DARK: #14506E;
$OPACITY_TOOLTIP: 230;
$SIZE_BORDER_RADIUS: 4px;
$BORDER_LIGHT: 1px solid $COLOR_BACKGROUND_LIGHT;
$BORDER_NORMAL: 1px solid $COLOR_BACKGROUND_NORMAL;
$BORDER_DARK: 1px solid $COLOR_BACKGROUND_DARK;
$BORDER_SELECTION_LIGHT: 1px solid $COLOR_SELECTION_LIGHT;
$BORDER_SELECTION_NORMAL: 1px solid $COLOR_SELECTION_NORMAL;
$BORDER_SELECTION_DARK: 1px solid $COLOR_SELECTION_DARK;
