$COLOR_BACKGROUND_LIGHT: #D3CEC9;
$COLOR_BACKGROUND_NORMAL: #EAE5E1;
$COLOR_BACKGROUND_DARK: #F5F5F5;
$COLOR_FOREGROUND_LIGHT: #0F0F0F;
$COLOR_FOREGROUND_NORMAL: #555555;
$COLOR_FOREGROUND_DARK: #878787;
$COLOR_SELECTION_LIGHT: #EB732D;
$COLOR_SELECTION_NORMAL: #EB9B5F;
$COLOR_SELECTION_DARK: #EBAF91;
$OPACITY_TOOLTIP: 230;
$SIZE_BORDER_RADIUS: 4px;
$BORDER_LIGHT: 1px solid $COLOR_BACKGROUND_LIGHT;
$BORDER_NORMAL: 1px solid $COLOR_BACKGROUND_NORMAL;
$BORDER_DARK: 1px solid $COLOR_BACKGROUND_DARK;
$BORDER_SELECTION_LIGHT: 1px solid $COLOR_SELECTION_LIGHT;
$BORDER_SELECTION_NORMAL: 1px solid $COLOR_SELECTION_NORMAL;
$BORDER_SELECTION_DARK: 1px solid $COLOR_SELECTION_DARK;
